

#dia_container{
    height: 85vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dia_input{
    font-size: 25px;
    padding: 20px;
    margin-top: 50px;
}


.dia_output{
    font-size: 30px;
    text-align: center;
}

.dia_output > p{
    padding-top: 5px;
}


.diagonalButton{
    padding: 20px 40px;
    font-size: 30px;
}
