.app-container{
    height: 100vh;
    background-color: #f7f0e5;
    /* border-radius: 15px; */
}

.display-path{
    height: 90vh;
    background-color: #FFFBFC;
    margin: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}